development:
  server: "http://localhost:9292/faye"
  secret_token: "secret"
test:
  server: "http://localhost:9292/faye"
  secret_token: "secret"
production:
  server: "http://example.com/faye"
  secret_token: "391c33f69f0b3ccddb6e50867e0a08f28da9285d91cdba127a1dada51684a405"
  signature_expiration: 3600 # one hour
