
#logo {
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 10px;
  font-weight: bold;
  line-height: 1;

  &:hover {
    color: #ddddff;
    text-decoration: none;
  }
}

.nav {
  margin-top: 5px;
}

.container {
  margin-top: 70px;
}

.answer {
  width: 50%;
  background-color: rgba(0, 127, 255, 0.4);
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 5px;

  A:hover {
    color: #000;
    text-decoration: none;
  }
  A:active {
    color: #eee;
  }
}

.comments {
  width: 50%;
  margin-left: 40px;
}

.question {
  background-color: rgba(0, 127, 255, 0.4);
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 5px;

  A:hover {
    color: #000;
    text-decoration: none;
  }
  A:active {
    color: #eee;
  }
}

.comment {
  background-color: rgba(242, 243, 244, 1);
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #cacaca;
  width: 100%;
  padding: 1rem;
  border-radius: 3px;
  margin-bottom: 15px;
}

